html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
}

h4{
  color: #1a1a1a;
  font-size: x-large;
}

h3{
  font-size: x-large;
  font-weight: 300;
}

