html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
.flex{
  display: flex;
}
.flexCol{
  display: flex;
  flex-direction: column;
}
.flexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}
.App {
  text-align: center;
}

h4{
  margin: 0;
  color: #1a1a1a;
  font-size: x-large;
}

h3{
  margin: 0;
  font-size: large;
  font-weight: 300;
}


input{
  font-size: medium;
  border: none;
  color: rgb(192, 192, 192);
  background-color: #12739e;
  padding: 10px;

  width: 300px;
  height: 47px;
  margin: 20px 0px;
}

::placeholder {
  color: white;
}
